RogueLite/Source/Packages/
RogueLite/Backup/
RogueLite/Temp/
RogueLite/Plugins/*
!RogueLite/Plugins/GamePlugin.core.dll
!RogueLite/Plugins/GamePlugin.core.pdb
!RogueLite/Plugins/GamePlugin.core.xml
!RogueLite/Plugins/EditorPlugin.editor.dll
!RogueLite/Plugins/EditorPlugin.editor.pdb
!RogueLite/Plugins/EditorPlugin.editor.xml
RogueLite/NVorbis.dll
RogueLite/OpenTK.GLControl.dll
RogueLite/OpenTK.GLControl.xml
RogueLite/OpenTK.dll
RogueLite/OpenTK.dll.config
RogueLite/OpenTK.pdb
RogueLite/OpenTK.xml
RogueLite/FarseerDuality.xml
RogueLite/FarseerDuality.pdb
RogueLite/Microsoft.Web.XmlTransform.dll
RogueLite/NVorbis.XML
RogueLite/FarseerDuality.dll
RogueLite/EditorUserData.xml
RogueLite/PopupControl.dll
RogueLite/PopupControl.pdb
RogueLite/DualityUpdater.exe
RogueLite/DualityPrimitives.pdb
RogueLite/WeifenLuo.WinFormsUI.Docking.dll
RogueLite/WeifenLuo.WinFormsUI.Docking.pdb
RogueLite/logfile.txt
RogueLite/logfile_editor.txt
RogueLite/logfile_editor_prev.txt
RogueLite/perflog.txt
RogueLite/Aga.Controls.dll
RogueLite/Aga.Controls.pdb
RogueLite/Duality.pdb
RogueLite/Duality.xml
RogueLite/AdamsLair.WinForms.pdb
RogueLite/AdamsLair.WinForms.xml
RogueLite/perflog_editor.txt
RogueLite/DDoc.chm
RogueLite/DesignTimeData.dat
RogueLite/DualityEditor.pdb
RogueLite/DualityEditor.xml
RogueLite/DualityLauncher.exe
RogueLite/DualityLauncher.exe.config
RogueLite/DualityLauncher.pdb
RogueLite/DualityPrimitives.XML
RogueLite/AdamsLair.WinForms.dll
RogueLite/Source/Code/CorePlugin/bin/
RogueLite/Source/Code/CorePlugin/obj/
RogueLite/Source/Code/CorePlugin/GamePlugin.core.xml
RogueLite/Source/Code/EditorPlugin/bin/
RogueLite/Source/Code/EditorPlugin/obj/
RogueLite/Source/Code/EditorPlugin/GamePlugin.core.xml
RogueLite/Source/Code/ProjectPlugins.v12.suo